.App {
    text-align: center;
    width: 100% !important;
    height: 100% !important
}

.App-logo {
    width: 20rem;
    pointer-events: none
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white
}

.App-link {
    color: #61dafb
}

.box-main {
    width: 100% !important;
    height: 100% !important;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 5px;
}

.txt {
    width: 15em !important;
    letter-spacing: 0.01em;
    margin-top: 2.8em !important;
    font-size: 18px !important;
    font-family: 'Amiri Regular'
}

.input::placeholder {
    color: #505050 !important
}

.box {
    position: fixed;
    width: 40% !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.footer {
    height: 40px;
    position: fixed;
    letter-spacing: 0.01em;
    bottom: 0%;
    width: 100%;
    opacity: 1;
    font-family: 'Amiri Regular'
}

.txt2 {
    width: 12em !important;
    margin-top: 1.45em !important;
    letter-spacing: 0.01em;
    font-size: 18px !important;
    font-family: 'Amiri Regular'
}

.head {
    text-align: -webkit-center
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Amiri Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

form {
    margin: 0
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    /*    No border and underline */
    border: none;
    border-bottom: 1px solid #505050;
    background: none;
    outline: none;
    color: inherit;
    padding: 7px 0;
    transition: border-color 0.2s;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*** TOASTE SNACKBAR ***/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
     from {bottom: 30px; opacity: 1;}
     to {bottom: 0; opacity: 0;
    }
}